/*# ====================== Page Loading =====================*/

.pageLoadingContainer{
  width: 100vw;
  height: 92dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--background-image);
}

.pageLoading {
  position: relative;
  width: calc((20vw + 20dvh) * 2 / 3);
  height: calc((20vw + 20dvh) * 2 / 3);
  animation: 2s linear 0s infinite forwards loading;
  > .span {
    position: absolute;
    display: block;
    width: calc((7vw + 7dvh) * 2 / 3);
    height: calc((7vw + 7dvh) * 2 / 3);
    border: 10px solid var(--text-secondary);
    border-radius: 50%;
  }
  >.span:first-of-type{
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -7px 0 10px 2px black, inset -7px 0 10px 2px black;
  }
  > .span:nth-of-type(2){
    bottom: 5%;
    left: 5%;
    box-shadow: 6px 6px 10px 2px black, inset 6px 6px 10px 2px black;
  }
  > .span:last-of-type{
    bottom: 5%;
    right: 5%;
    box-shadow: 6px -6px 10px 2px black, inset 6px -6px 10px 2px black;
  }
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
