/** @format */

.workCard {
  position: relative;
  display: flex;
  align-items: center;
  margin: max(3rem, 6vw) 0;
  padding: 4vw 3vw;
  color: var(--text-primary);
  background-color: var(--card-background);
  border-radius: 20px;
  box-shadow: var(--shadow); 
}

.workCard:hover {
  transform: scale(1.09, 1.09);
  box-shadow: var(--shadow-hover);
}
.workCard:hover *{
  text-shadow: min(2px, .2vw) min(2px, .2vw) var(--text-negative);
}

.workImageHolder {
  width: 20%;
}
.workCard:hover .workImage {
  box-shadow: var(--shadow-hover);
}
.workImage {
  position: relative;
  right: 1rem;
  display: flex;
  margin: 1rem auto 0;
  width: clamp(70px, 11vw, 160px);
  height: clamp(70px, 11vw, 160px);
  border-radius: 30%;
  box-shadow: var(--shadow);
}

.workCardBody {
  width: 80%;
  color: var(--text-primary);
}

.workCardBody div {
  display: flex;
  justify-content: space-between;
}

.workCardBody div p {
  margin: 0;
  font-size: var(--text6);
}

.workCardBody div:first-child h2 {
  margin: 0;
  font-size: var(--text4);
  font-weight: 900;
  color: var(--text-secondary);
}

.workCardBody div:nth-child(2) p:first-child {
  font-size: var(--text5);
  font-weight: 800;
}

.workCardBody > ul {
  list-style: none;
  padding: 0 3%;
}

.details {
  position: relative;
  margin-top: 20px;
  font-size: var(--text6);
  text-indent: 6px;
}

@media only screen and (max-width: 550px){
  .workCard, .workCardBody div {
    flex-direction: column;
  }
  .workCardBody{
    width: 96%;
  }
  .workCardBody > div:first-of-type{
    margin: 20px 0 10px;
  }
  .workCardBody > div:last-of-type{
    text-align: right;
  }
}