/** @format */

.workCard {
  position: relative;
  display: flex;
  align-items: center;
  margin: max(3rem, 6vw) 0;
  padding: 4vw 3vw;
  border-radius: 20px;
  color: var(--text-primary);
  background-color: var(--card-background);
  box-shadow: var(--shadow); 
}

.workCard:hover {
  transform: scale(1.09, 1.09);
  box-shadow: var(--shadow-hover);
}
.workCard:hover *{
  text-shadow: .5px .5px var(--text-secondary);
}

.workImageHolder {
  width: 20%;
}
.workCard:hover .workImage {
  box-shadow: var(--shadow-hover);
}
.workImage {
  position: relative;
  right: 1rem;
  display: flex;
  width: clamp(70px, 11vw, 160px);
  height: clamp(70px, 11vw, 160px);
  margin: 1rem auto 0;
  border-radius: 30%;
  box-shadow: var(--shadow);
}

.workCardBody {
  width: 80%;
}

.workCardBody div {
  display: flex;
  justify-content: space-between;
}

.workCardBody div p {
  margin: 9px;
  font-size: clamp(8px, 1.5vw, 24px);
}

.workCardBody div:first-child h2 {
  color: var(--text-secondary);
  font-size: clamp(13px, 3vw, 30px);
  font-weight: bold;
  margin: 9px;
  font-size: clamp(11px, 2vw, 30px);
}

.workCardBody div:nth-child(2) p:first-child {
  font-size: clamp(11px, 1.8vw, 30px);
  font-weight: bold;
}

.details {
  position: relative;
  margin-top: 20px;
  font-size: clamp(10px, 1.7vw, 24px);
  text-indent: 6px;
}

@media only screen and (max-width: 500px){
  .workCard, .workCardBody div {
    flex-direction: column;
  }
  .workCardBody{
    width: 100%;
  }
  .workCardBody div p {
    margin: 0;
  }
  .workCardBody div p:nth-child(2) {
    position: relative;
    text-align: right;
  }
  .workCardBody div:nth-child(2) p:first-child {
    position: relative;
    left: 2vw;
  }
}