/** @format */

/* Intro Section */
.workBodyTitle {
  position: relative;
  margin: 6rem 0 0;
  text-align: center;
  font-size: clamp(26px, 5vw, 66px);
  color: var(--text-secondary);
}

.workBody {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 6vw 1rem;
}

.workBodyImage {
  position: relative;
  bottom: 5rem;
}

.workBody p {
  position: relative;
  margin: 10rem 0;
  width: 120%;
  padding: 0 2vw;
  text-align: center;
  font-size: clamp(24px, 3.6vw, 50px);
  color: var(--text-primary);
}

@media only screen and (max-width: 900px) {
  .workBodyImage {
    display: none;
  }
  .workBody p {
    margin: 4rem 0;
  }
}

/* Filter */
.workFilter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5vh;
  height: min(6vw, 75px);
  max-width: 1500px;
}

.workFilter button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 30%;
  height: auto;
  padding: 1vw;
  font-size: clamp(12px, 2.3vw, 36px);
  color: var(--text-primary);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}


.workFilter > button.activeFilter {
  background-color: var(--layout-bg);
  border: 2px solid var(--background);
  box-shadow: 0 0 4px var(--text-secondary), 6px 6px 10px 4px rgb(0, 0, 0);
  transform: scale(1.15)
}
.workFilter > button.inactiveFilter {
  background-color: var(--nav-bg);
  border: 1px solid var(--text-primary);
  opacity: .8;
}

.workFilter > button.activeFilter:hover, .workFilter > button.inactiveFilter:hover {
  background-color: var(--card-background);
  border: 1px solid var(--text-primary);
  border-radius: 20px;
  box-shadow: 4px 4px 15px 2px rgb(0, 0, 0);
  opacity: 1;
  transform: scale(1.25);
}


.workCardHolder {
  list-style: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: .1rem 2rem 1rem;
  max-width: 1500px;
}
