.experienceContainer{
  padding: 8vh 0 10vh;
}

.cardTitle > h1 {
  max-width: 50%;
  font-size: clamp(16px, 2vw, 38px);
}
.cardTitle span{
  color: var(--text-secondary)
}

.experienceLink{
  padding: min(8px, 2vw);
  background-color: var(--text-negative);
  border-radius: 10px;
  box-shadow: min(2px, .5vw) min(2px, .5vw) 0px min(2px, .5vw) var(--text-detail), min(4px, 1.5vw) min(4px, 1.5vw) min(15px, 3vw) min(2px, .3vw) black;
}

@media only screen and (min-width: 1300px){
  .experienceContainer{
    display: flex;
    justify-content: space-around;
    padding: 20vh 0 25vh;
  }
}