.experienceContainer{
  padding: 8vh 0 10vh;
}

.cardTitle, .cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  color: var(--text-primary);
  background-color: var(--card-background2);
  border: 1.5px solid var(--text-secondary);
  border-radius: 20px;
  box-shadow: inset 0 0 10px 5px var(--text-secondary), var(--shadow-hover);
}
.cardTitle > h1 {
  max-width: 70%;
  font-size: clamp(16px, 2vw, 38px);
  letter-spacing: 1.5px;
}
.cardTitle span{
  color: var(--text-secondary)
}

.cardBody{
  padding: 5% 10%;
}
.cardBody > p{
  font-size: clamp(15px, 2vw, 42px);
}
.experienceLink{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: min(8px, 2vw);
  background-color: var(--text-negative);
  border: .5px solid var(--text-primary);
  box-shadow: min(2px, .5vw) min(2px, .5vw) 1px 0px var(--text-primary), min(6px, 1.8vw) min(6px, 1.8vw) min(15px, 3vw) min(2px, .3vw) black;
  border-radius: 10px;
}
.experienceLink:hover{
  border: 1.5px solid var(--text-primary);
  box-shadow: none;
}

@media only screen and (min-width: 1300px){
  .experienceContainer{
    display: flex;
    justify-content: space-around;
    padding: 20vh 0 25vh;
  }
}