/** @format */

.nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    to bottom,
    #ffffff00 0%,
    #ffffff00 90%,
    #000000 100%
  );
  margin: 15vw 0 0;
  padding: 2vw 0 0.2rem;
  position: relative;
}

.navItem,
.activeNav {
  display: flex;
  justify-content: center;
  font-size: 3vw;
  width: 42%;
  color: var(--text-secondary);
  background-color: var(--background2);
  padding: 2vw 15vw;
  border-radius: 20px 20px 0 0;
  box-shadow: 2px -2px 3px var(--detail-secondary),
    -2px -2px 3px var(--detail-secondary), 0 2px black;
}

.navItem:hover {
  color: var(--background2);
  background-color: var(--detail-secondary);
  border-radius: 20px 20px 0 0;
  z-index: 200;
  box-shadow: 0 2px 3px black, 6px -2px 6px 2px var(--detail-terinary),
    -6px -2px 6px 2px var(--detail-terinary);
  transform: scale(1.1, 1.2) translateY(-0.7vw);
}

.activeNav {
  color: red;
  font-weight: bolder;
  box-shadow: 4px -4px 3px rgb(247, 4, 4), -4px -4px 3px rgb(247, 4, 4),
    4px -2px 3px rgb(247, 4, 4), -4px -2px 3px rgb(247, 4, 4);
  transform: scale(1.1, 1.2) translateY(-0.7vw);
}

@media only screen and (max-width: 625px) {
  .nav {
    margin: 0;
  }
  .navItem,
  .activeNav {
    font-size: 3vw;
    width: 40%;
    background-color: rgb(1, 30, 1);
    padding: 2vw 15vw;
  }
  .activeNav {
    transform: scale(1.1, 1.2) translateY(-0.5vw);
  }
}

@media only screen and (min-width: 1400px) {
}
