/** @format */

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw 0 0.2rem;
  list-style: none;
  background: linear-gradient(
    to bottom,
    #ffffff00 0%,
    #ffffff00 90%,
    #000000 100%
  );
}

.navItem,
.activeNav {
  display: flex;
  justify-content: center;
  padding: 2vw 15vw;
  font-size: clamp( 15px, 3vw, 60px);
  width: min(42%, 600px);
  color: var(--text-secondary);
  background-color: var(--background2);
  border-radius: 20px 20px 0 0;
  box-shadow: 2px -2px 3px var(--detail-secondary),
    -2px -2px 3px var(--detail-secondary), 0 2px black;
}

.navItem:hover {
  color: var(--background2);
  background-color: var(--detail-secondary);
  border-radius: 20px 20px 0 0;
  z-index: 200;
  box-shadow: 0 2px 3px black, 6px -2px 6px 2px var(--detail-terinary),
    -6px -2px 6px 2px var(--detail-terinary);
  transform: scale(1.1, 1.2) translateY(-0.7vw);
}

.activeNav {
  font-weight: bolder;
  color: red;
  box-shadow: 4px -4px 3px rgb(247, 4, 4), -4px -4px 3px rgb(247, 4, 4),
    4px -2px 3px rgb(247, 4, 4), -4px -2px 3px rgb(247, 4, 4);
  transform: scale(1.1, 1.2) translateY(-0.7vw);
}

@media only screen and (max-width: 625px) {
  .nav {
    margin: 0;
  }
  .navItem,
  .activeNav {
    border-radius: 10px 10px 0 0;
    box-shadow: 4px -2px 3px var(--detail-secondary),
      -4px -2px 3px var(--detail-secondary), 4px 1px 3px var(--detail-secondary),
      -4px 1px 3px var(--detail-secondary), 0 2px black;
    width: 40%;
  }
  .activeNav {
    box-shadow: 4px -1.5px 3px rgb(247, 4, 4), -4px -1.5px 3px rgb(247, 4, 4), 4px 0px 3px rgb(247, 4, 4), -4px 0px 3px rgb(247, 4, 4);
    transform: scale(1.1, 1.2) translateY(-0.5vw);
  }
}
