.workCard{
    position: relative;
    display: flex;
    margin: 1rem 0 2.5rem;
    padding: 3rem 1.5rem;
    border-radius: 20px;
    color: rgb(102, 255, 166);
    background-color: rgb(15, 28, 34);
}

.workCard:hover{
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 12px rgb(3, 255, 3);
}

.workImageHolder{
    width: 20%;
}

.workImage{
    display: flex;
    width: 60%;
    height: auto;
    margin: 1rem auto 0;
    border-radius: 50%;
}

.workCardBody{
    width: 100%;
}

.workCardBody div{
    display: flex;
    justify-content:space-between;
}

.workCardBody div:first-child p:first-child{
    color: rgb(35, 255, 86);
    font-size: 240%;
    margin: 0;
}

.workCardBody div p{
    margin: 0;
}

.workCardBody div p:first-child{
    font-size: 140%;
    font-weight: bold;
}
.workCardBody div p:nth-child(2){
    position: absolute;
    right: 10%;
}

.details{
    position: relative;
    left: 4%;
}