/** @format */

.workFilter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  height: min(6vw, 75px);
  max-width: 1500px;
  background-color: rgba(0, 75, 40, 0.561);
}

.workFilter button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 49.7%;
  height: min(5.7vw, 74px);
  font-size: clamp(12px, 2.3vw, 36px);
  color: white;
  background-color: rgb(0, 85, 25);
}

.workFilter button:hover {
  background-color: rgb(1, 240, 128) !important;
  color: black;
}

.activeFilter {
  color: black !important;
  background-color: rgb(0, 221, 136) !important;
}

.workFilter button:first-child {
  margin-right: 0;
}

.workFilter button:nth-child(2) {
  margin-left: 0;
}

.workCardHolder {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: .1rem 2rem 1rem;
  max-width: 1500px;
  background-color: rgba(0, 75, 40, 0.561);
}
