.certTitle{
    text-align: center;
    font-size: 4.4vw;
    margin: 14vw 0 8vw;
    color: var(--text-secondary);
    text-shadow: 0 0 2rem var(--detail-secondary);
}

.certCardHolder{
    display: flex;
    flex-wrap: wrap;
    padding: 0 3vw;
    justify-content: space-evenly;
}