.certTitle{
    text-align: center;
    font-size: 4.4vw;
    margin: 10rem 0 4rem;
    color: rgb(128, 255, 89);
    text-shadow: 0 0 2rem rgb(0, 255, 0);
}

.certCardHolder{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    justify-content: space-evenly;
}