/** @format */

.certTitle {
  margin: 14vw 0 8vw;
  text-align: center;
  font-size: clamp(22px, 4vw, 52px);
  color: var(--text-secondary);
  text-shadow: 0 0 2rem var(--detail-secondary);
}

.certTitle + p {
  text-align: center;
  font-size: clamp(12px, 1.8vw, 36px);
  color: var(--text-primary);
}

.certCardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4vw 3vw;
  height: 231vw;
  overflow: scroll;
}
