/** @format */

.title {
  margin: 11vw 0 9vw;
  text-align: center;
  font-size: clamp(22px, 4vw, 52px);
  color: var(--text-secondary);
  text-shadow: 0 0 18px var(--detail-secondary);
}
.degrees {
  border: 1px solid red;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.5vw;
  margin-bottom: 10vw;
}

.image {
  border: 10px solid red;
  width: 16vw;
  height: 16vw;
  margin-right: 10px;
  border-radius: 50%;
  border: 1.5px solid var(--detail-secondary);
  box-shadow: 0 0 10px var(--detail-secondary);
}
.image:hover {
  border-radius: 50%;
  border: 1.5px solid var(--detail-secondary);
  box-shadow: 0 0 30px var(--detail-secondary);
  transform: scale(1.3);
}
