.bodyText h1{
    position: relative;
    width: 120%;
    color: rgb(1, 242, 1);
    text-shadow: 1px 1px 15px rgb(0, 186, 0);
    text-align: center;
    margin-top: 8rem;
    font-size: 4vw;
    transform: translate(-8vw, -6vw);
}

.bodyText p{
    position: relative;
    width: 190%;
    max-width: 1000px;
    color: white;
    margin: 7rem 0 21vw;
    font-size: 3vw;
    text-align: center;
    transform: translate(-34vw, 30vw);
}

@media only screen and (min-width: 1800px){
    .bodyText p{
        max-width: 1400px;
    }
}