.footer {
    height: auto;
    background-color: rgb(10, 4, 22);
    bottom: 0;
    padding: 1rem 4rem 2rem;
}
.footerCopywright {
    font-size: 1.5rem;
    color: rgb(202, 250, 204);
    text-align: center;
}

.footerBody {
    z-index: 1;
    text-align: center;
}

.footerIcons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.socialIcons {
  display: inline-block;
  padding: 0 15px;
}

.socialIcons a{
  color: rgb(202, 250, 204);
}

.footIcons{
  font-size: 2rem;
}
