/** @format */

.footer {
  height: auto;
  background-color: var(--footer-background);
  bottom: 0;
  padding: 1rem 3rem 2rem;
}
.footerCopywright {
  font-size: clamp(10px, 2.7vw, 30px);
  color: var(--text-primary);
  text-align: center;
}

.footerIcons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

.socialIcons {
  margin-top: 20px;
  padding: 0 4vw;
}

.socialIcons a {
  color: var(--text-primary);
}

.footIcons {
  font-size: clamp(16px, 5vw, 90px);
}
