.sticky {
    position: fixed;
    width: 100%;
    max-height: 15rem;
    padding: 2rem;
    z-index: 2000;
    background-color: rgba(1, 56, 4, 0.462);
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 2px 4px 0px rgba(2, 119, 12, 0.874);
    backdrop-filter: blur(15px);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2000;
    transition: all 0.3s ease-out 0s;
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
}

.navbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    position: relative;
    height: 8vw;
    width: 8vw;
    left: 4.6vw;
    border-radius:  50%;
}

.logo:hover{
    transform: translate(1rem, 1rem) scale(1.5,1.5);
    z-index: 500;
}

.navbarNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem;
    transition: all 0.3s ease-out 0s;
}

.navClosed{
    display: none;
    transition: all 0.3s ease-out 0s;
}

.navItem {
    position: relative;
    margin: 0 1rem;
    padding: 1.5vw;
}

.navItem:hover{
    background-color: #02fc300c;
    border-radius: 20px;
}

.navItem a {
    font-weight: 400;
    font-size: 1.5vw;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.navItem a::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #0ee936;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.navItem a:hover::after {
    width: 100%;
}

.navIcon{
    font-size: 2.2vw;
    margin: 0 0 .4rem;
}

.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 206, 206);
    text-shadow: .7px .7px rgb(150, 251, 167);
    flex-direction: column;
    align-items: center;
    font-size: 110%;
}

.navFork{
    position: relative;
    right: 1%;
}

.forkIcon{
    font-size: 150%;
    margin: .2rem;
}

.navbarToggler, .navbarTogglerClosed{
    display: none;
}



@media only screen and (max-width: 900px) {
    .navbar, .sticky{
        min-height: 8rem;
        background-color: rgb(1, 56, 4) !important;
    }
    .navbarContainer{
        justify-content: space-between;
    }

    .navbarNav{
        flex-direction: column;
        position: relative;
        top: -2rem;
        margin: 2rem 19rem -2rem 12rem;
        font-size: 1.5rem;
    }

    .navItem{
        padding: 0;
    }

    .navItem:hover{
        background-color: #02fc3028;
    }

    .logo{
        position: absolute;
        top: 2rem;
        left: 2rem
    }

    .navbarToggler, .navbarTogglerClosed {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .navbarToggler span, .navbarTogglerClosed span {
        display: block !important;
        background-color: #be50f4 !important;
        height: 4px !important;
        width: 27px !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        transform: rotate(0deg) !important;
        left: 0 !important;
        opacity: 1 !important;
    }

    .navbarToggler:focus,
    .navbarToggler:active {
        outline: 0 !important;
    }

    .navbarTogglerClosed:focus,
    .navbarTogglerClosed:active {
        outline: 0 !important;
    }

    .navbarToggler span:nth-child(1),
    .navbarToggler span:nth-child(3) {
        transition: transform 0.35s ease-in-out !important
    }

    .navbarTogglerClosed span:nth-child(1),
    .navbarTogglerClosed span:nth-child(3) {
        transition: transform 0.35s ease-in-out !important
    }

    .navbarToggler:not(.collapsed) span:nth-child(1) {
        position: absolute !important;
        left: 12px !important;
        top: 10px !important;
        transform: rotate(135deg) !important;
        opacity: 0.9 !important;
    }

    .navbarToggler:not(.collapsed) span:nth-child(2) {
        height: 12px !important;
        visibility: hidden !important;
        background-color: transparent !important;
    }

    .navbarToggler:not(.collapsed) span:nth-child(3) {
        position: absolute !important;
        left: 12px !important;
        top: 10px !important;
        transform: rotate(-135deg) !important;
        opacity: 0.9 !important;
    }


    .navbar {
        box-shadow: 0px 2px 4px 0px rgba(2, 119, 12, 0.874);
        background-color: rgba(1, 69, 6, 0.407);
        padding: 2rem 2rem !important;
        font-size: 1.4rem !important;
    }
    .navbarNav .navItem a::after {
        display: none !important;
    }    
    .navLink {
        flex-direction: row;
        padding: 0.7rem 1rem !important;
    }
}