/** @format */

/* Nav Container */
.navbar,
.sticky {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 10rem;
  z-index: 20;
  font-size: 1.2rem;
  transition: all 0.3s ease-out 0s;
  background-color: var(--nav-bg);
  box-shadow: 0px 2px 5px 0px var(--nav-shadow);
}
.sticky {
  padding: 0.4rem 2rem;
  backdrop-filter: blur(4px);
}
.navbar {
  padding: 0.3rem 2rem;
  backdrop-filter: blur(25px);
}

/* Brand Image */
.navBarBrand {
  position: relative;
  flex: 1;
}
.themeLogo {
  position: relative;
  height: clamp(70px, 10vw, 100px);
  width: clamp(70px, 10vw, 100px);
  border-radius: 50%;
}

/* Nav Link Section */
.navbarCollpase {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 5;
}
.navbarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 2rem 0;
  transition: all 0.3s ease-out 0s;
}
.navClosed,
.navClosed + .themeSwitch {
  display: none;
  transition: all 0.3s ease-out 0s;
}

/* Nav Links */
.navItem {
  position: relative;
  margin: 0 min(2vw, 20px);
  padding: 1vw;
  font-size: clamp(14px, 1.4vw, 22px);
}
.navItem:hover {
  background-color: var(--nav-hover);
  border-radius: 20px;
}
.navItem::after {
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.2vw;
  display: block;
  height: 3px;
  width: 0;
  border-radius: 16px;
  background: var(--nav-shadow);
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}
.navItem:hover::after {
  width: 100%;
}

.navIcon {
  margin-bottom: 0.4rem;
}
.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--nav-color);
  text-shadow: 0.7px 0.7px var(--nav-shadow);
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
}

/* Github Fork */
.navFork {
  margin-right: 60px;
}
.forkIcon {
  font-size: 120%;
  margin: 0.2rem;
}

/* Theme Mode Toggle */
.themeSwitch {
  position: relative;
  display: inline-block;
  width: clamp(40px, 6vw, 70px);
  height: clamp(30px, 4vw, 45px);
}
.themeInput {
  opacity: 0;
  width: 0;
  height: 0;
}
.themeSlider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--nav-color);
  border-radius: 10px;

  transition: background 0.2s;
  cursor: pointer;
}
.themeSlider::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 60%;
  border-radius: 10px;
  background: var(--background);
  transition: transform 0.2s, width 0.2s, background 0.2s;
  font-size: clamp(12px, 2vw, 30px);
}
.themeInput:not(:checked) + .themeSlider::after {
  content: "☀️";
  right: 2%;
}
.themeInput:checked + .themeSlider::after {
  content: "🌙";
  left: 2%;
}

.navbarToggler,
.navbarTogglerClosed {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navItem {
    margin: 0 min(1vw, 10px);
    padding: 1vw;
  }
  .navItem:hover {
    border-radius: 10px;
  }
  .navbarNav .navItem a::after {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .sticky,
  .navbar {
    backdrop-filter: blur(25px);
    max-height: none;
  }

  .navbarNav {
    flex-direction: column;
    margin: 1rem 1.5rem 0 0;
  }
  .navItem:hover::after {
    width: 80%;
  }
  .navLink {
    flex-direction: row;
    justify-content: center;
  }
  .navIcon {
    margin-right: 0.4rem;
  }
  .themeSwitch {
    position: absolute;
    right: 6vw;
    bottom: 20%;
  }

  .navbarToggler,
  .navbarTogglerClosed {
    display: block;
    position: absolute;
    top: 15%;
    right: 8vw;
    background-color: transparent;
    border-color: transparent;
  }

  .navbarToggler span,
  .navbarTogglerClosed span {
    display: block;
    background-color: var(--nav-color);
    height: 4px;
    width: 27px;
    margin-top: 5px;
    margin-bottom: 5px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
  }

  .navbarToggler:focus,
  .navbarToggler:active,
  .navbarTogglerClosed:focus,
  .navbarTogglerClosed:active {
    outline: 0;
  }

  .navbarToggler span:nth-child(1),
  .navbarToggler span:nth-child(3),
  .navbarTogglerClosed span:nth-child(1),
  .navbarTogglerClosed span:nth-child(3) {
    transition: transform 0.35s ease-in-out;
  }

  .navbarToggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
  }

  .navbarToggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
  }

  .navbarToggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
  }
}
