/** @format */

.projectsBody {
  position: relative;
  padding: max(20vw, 20vh) 4vw 8vw;
}

/* NavBar */
.projectNavbar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 6vh;
  width: 80vw;
  height: 100px;
  text-align: center;
}

.projectNavbar > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectNavbar > div > h2{
  margin-bottom: 12px;
  text-align: center;
  color: var(--text-primary);
  font-size: var(--text2);
  letter-spacing: 2px;
}

.projectNavbar > div > select{
  width: min(30vw, 460px);
  height: 50px;
  padding-left: 10px;
  color: var(--text-secondary);
  font-size: 20px;
  background-color: var(--layout-bg);
  border: 1px solid var(--text-secondary);
  border-radius: 12px;
}

.projectNavbar > div > select:hover{
  font-size: 24px;
  background-color: var(--card-background);
  border: 2px solid var(--text-secondary);
}

/* Title */

/* Projects Holder */
.projectsBody > h1 {
  margin-bottom: 8vw;
  text-align: center;
  color: var(--text-primary);
  font-size: var(--text2);
}

.projectsListHolder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}