/** @format */

.display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: clamp( 120px, 38%, 460px);
  height: clamp( 140px, 34vw, 480px);
  margin: 0 clamp(10px, 3vw, 50px) min(8vw, 140px);
  background-color: var(--card-background);
  box-shadow: 0px -3px 3px 2px var(--detail-secondary),
  0px 3px 3px 2px var(--detail-secondary);
  border-radius: 20px;
}
.display:hover {
  background-color: var(--card-background2);
  box-shadow: 0px -3px 3px 2px var(--detail-secondary),
    0px 3px 3px 2px var(--detail-secondary);
  transform: scale(1.15);
}

.displayImage {
  display: flex;
  width: min(80%, 440px) !important;
  margin: 1rem auto 0;
  height: clamp(70px, 18vw, 340px) !important;
}

.displayTitle {
  color: var(--text-secondary);
  margin: .6rem 0 ;
  font-size: clamp(12px, 3vw, 40px);
  text-align: center;
  font-weight: 800;
}

.detail {
  display: flex;
  position: fixed;
  z-index: 3000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  width: min(92%, 1600px);
  height: clamp(460px, 80vw, 1000px);
  padding: 3vw;
  border-radius: 30px;
  background-color: var(--card-background2);
  box-shadow: inset 2px 4px 10px var(--detail-terinary),
    inset -2px -4px 10px var(--detail-terinary);
  color: var(--text-secondary);
}

.detailLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.detailImage {
  margin-top: 2rem;
  width: min(86%, 700px);
  height: clamp(200px, 40vw, 560px);
}
.detailImage:hover {
  transform: scale(1.1) translate(10px, 10px);
  z-index: 500;
}

.detailLeft > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.detailLeft > div > a {
  padding: min(3vw, 25px) min(4vw, 40px);
  margin: 0 0.5rem;
  text-align: center;
  max-width: 40%;
  font-size: clamp(11px, 2.8vw, 32px);
  color: var(--text-primary);
  background-color: var(--button-bg1);
  border-radius: 30px;
}
.detailLeft > div a:hover {
  color: var(--background2);
  background-color: var(--detail-secondary);
  box-shadow: 0px 2px 2px 2px var(--detail-terinary);
  transform: scale(1.2);
}

.detailRight {
  width: 35%;
}

.detailRight > h2 {
  position: relative;
  right: min(5vw, 1600px);
  text-align: center;
  font-size: clamp(15px, 4vw, 56px);
  margin: 2rem 0 min(1.6vw, 50px) 0;
  width: 120%;
}

.detailRight > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  margin-top: 5vw;
}
.techs > h3,
.detailRight > div > h3 {
  transform: translateX(-2vw) scaleX(1.2);
  height: auto;
  max-height: min(250px, 50vw, 700px);
  text-indent: 4vw;
  overflow: scroll;
  font-size: clamp(10px, 2.6vw, 36px);
  line-height: clamp(14px, 2.4vw, 30px);
  color: var(--text-primary);
}

.techs {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5px;
  transform: translateX(-2vw) scaleX(1.1);
  overflow: scroll;
  height: auto;
}
.techs > h3{
  width: 100%;
}
.detailTech {
  margin: 0 0.5vw 0.5vw;
  padding: 1vw;
  min-height: 10px;
  overflow-y: scroll;
  font-size: clamp(10px, 1.8vw, 26px);
  color: var(--text-primary);
  background-color: var(--background3);
  border-radius: 10px;
}
.detailTech:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 3px var(--detail-terinary);
}

.detailClose {
  position: absolute;
  right: 3%;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: clamp(25px, 5vw, 60px);
  height: clamp(25px, 5vw, 60px);
  font-size: clamp(20px, 3vw, 36px);
  border-radius: 50%;
  background-color: var(--button-bg1);
  color: var(--text-primary);
}

.detailClose:hover {
  background-color: var(--detail-secondary);
  color: var(--background2);
  border: 1.5px solid black;
  box-shadow: 2px 2px 2px var(--detail-secondary),
    -2px -2px 2px var(--detail-secondary), -2px 2px 2px var(--detail-secondary),
    2px -2px 2px var(--detail-secondary);
}