/** @format */

.display {
  position: relative;
  width: clamp(120px, 38%, 460px);
  height: clamp(140px, 34vw, 480px);
  margin: 0 clamp(10px, 3vw, 50px) min(8vw, 140px);
  /* background-color: var(--card-background2); */
}

.projectDisplay{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: var(--card-background2);
  box-shadow: 0px -3px 6px 1px var(--detail-secondary),
    0px 3px 6px 1px var(--detail-secondary);
  border-radius: 20px;
}

.displayImage {
  margin: 1rem auto 0;
  width: min(80%, 440px);
  height: clamp(70px, 18vw, 340px);
}

.displayTitle {
  margin: 0.6rem 0;
  text-align: center;
  color: var(--text-primary);
  font-size: clamp(12px, 3vw, 40px);
  font-weight: 800;
}

.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 110%;
  height: 110%;
  padding: 5% 5% 10%;
  border-radius: 30px;
  background-color: var(--card-background2);
  box-shadow: inset 2px 4px 10px var(--detail-terinary),
    inset -2px -4px 10px var(--detail-terinary);
  color: var(--text-primary);
}

.projectDetail > h2 {
  color: var(--text-secondary);
  font-size: clamp(20px, 3vw, 50px);
  flex: 1;
}
.projectDetail > p {
  width: 80%;
  font-size: clamp(15px, 2vw, 42px);
  overflow: scroll;
  flex: 2;
  transform: translateY(-20%);
}

.projectDetail > button {
  aspect-ratio: 6/2;
  width: 30%;
  color: var(--text-negative);

  background-color: var(--detail-terinary);
  box-shadow: 1px 1px 2px .5px var(--text-secondary);
  border: none;
}
.projectDetail > button:hover {
  width: 32%;
  background-color: var(--text-secondary);
  border: 1pc solid var(--text-negative);
  box-shadow: 2px 2px 4px .5px var(--detail-terinary);
  border: none;
}

.detail {
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  z-index: 2001;
  display: flex;
  padding: min(2vw, 5vh) 3vw;
  width: min(92%, 1300px);
  height: clamp(460px, 80vw, 80vh);
  border-radius: 30px;
  background-color: var(--card-background2);
  box-shadow: inset 2px 4px 10px var(--detail-terinary),
    inset -2px -4px 10px var(--detail-terinary);
  color: var(--text-secondary);
}

.detailLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
@media only screen and (min-width: 1350px) {
  .detailLeft {
    padding-left: 1.3vw;
  }
}

.detailImage {
  margin-top: 2rem;
  width: min(86%, 630px);
  height: clamp(200px, 40vw, 510px);
}
.detailImage:hover {
  transform: scale(1.05) translate(10px, 10px);
  z-index: 500;
}

.detailLeft > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  min-width: 70%;
  /* align-self: center; */
}
.detailLeft > div > a:first-of-type {
  margin-right: calc(4vw * 2);
}

.detailLeft > div > a {
  padding: min(3vw, 20px) min(4vw, 30px);
  margin: 0 0.5rem;
  text-align: center;
  max-width: 38%;
  font-size: clamp(11px, 2.8vw, 28px);
  color: var(--text-primary);
  background-color: var(--button-bg1);
  border-radius: 30px;
}
.detailLeft > div a:hover {
  color: var(--background2);
  background-color: var(--detail-secondary);
  box-shadow: 0px 2px 2px 2px var(--detail-terinary);
  transform: scale(1.2);
}

.detailRight {
  width: 35%;
}

.detailRight > h2 {
  position: relative;
  margin: 2rem 0 min(1.6vw, 50px) 0;
  width: 120%;
  text-align: left;
  font-size: clamp(15px, 4vw, 56px);
}

.detailRight > p,
.detailRight > h3 {
  transform: translateX(-2vw) scaleX(1.2);
  height: auto;
  font-size: clamp(10px, 2.6vw, 32px);
  line-height: clamp(14px, 2.4vw, 30px);
}

.detailRight > p {
  margin-top: 20px;
  height: clamp(150px, 24vw, 350px);
  overflow: scroll;
  text-indent: 3vw;
  color: var(--text-primary);
}

.techs {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0 0;
  height: auto;
  transform: translateX(-2vw) scaleX(1.3);
  overflow: scroll;
  list-style-type: none;
}

.detailTech {
  margin: 0 0.5vw 0.5vw;
  padding: 1vw;
  min-height: 10px;
  overflow-y: scroll;
  font-size: clamp(10px, 1.6vw, 18px);
  color: var(--text-primary);
  background-color: var(--background3);
  border-radius: 10px;
}

.detailTech:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 3px var(--detail-terinary);
}

button.detailClose {
  position: absolute;
  top: 1rem;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: clamp(25px, 5vw, 60px);
  height: clamp(25px, 5vw, 60px);
  font-size: clamp(20px, 3vw, 36px);
  color: var(--text-primary);
  background-color: var(--button-bg1);
  border-radius: 50%;
}

.detailClose:hover {
  color: var(--background2);
  background-color: var(--detail-secondary);
  border: 1.5px solid black;
  box-shadow: 2px 2px 2px var(--detail-secondary),
    -2px -2px 2px var(--detail-secondary), -2px 2px 2px var(--detail-secondary),
    2px -2px 2px var(--detail-secondary);
}

