/** @format */

/* Projects Main */
.projectsBody {
  position: relative;
  padding: max(20vw, 20vh) 4vw 8vw;
}

.projectsBody > h1 {
  margin-bottom: 8vw;
  text-align: center;
  color: var(--text-primary);
  font-size: var(--text2);
}

.projectsListHolder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* Project Card */
.display {
  list-style: none;
  position: relative;
  width: clamp(200px, 38%, 460px);
  height: clamp(220px, 34vw, 480px);
  margin: 0 auto 8vw;
}

.projectDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: var(--card-background2);
  border: 1.5px solid var(--text-secondary);
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.displayImage {
  margin: 1rem auto 0;
  width: min(80%, 440px);
  height: clamp(120px, 18vw, 340px);
}

.displayTitle {
  margin: 0.6rem 0;
  text-align: center;
  color: var(--text-primary);
  font-size: var(--text3);
  font-weight: 800;
  letter-spacing: 2px;
}

.projectDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 110%;
  height: 110%;
  padding: 5% 5% 10%;
  color: var(--text-primary);
  background-color: var(--card-background2);
  border: 1.5px solid var(--text-secondary);
  border-radius: 20px;
  box-shadow: inset 2px 4px 10px var(--text-negative),
    inset -2px -4px 10px var(--text-negative), var(--shadow-hover);
}

.projectDetail > h2 {
  flex: 1;
  color: var(--text-secondary);
  font-size: var(--text2);
}
.projectDetail > p {
  flex: 4;
  width: 80%;
  font-size: var(--text5);
  overflow: scroll;
  transform: translateY(-10%) scaleY(120%);
}

.projectDetail > button {
  aspect-ratio: 6/2;
  width: 33%;
  font-size: var(--text5);
  color: var(--text-secondary);
  background-color: var(--card-background);
  border: 1px solid var(--text-secondary);
  box-shadow: 1.5px 1.5px 2px 0.5px var(--text-secondary);
}
.projectDetail > button:hover {
  color: var(--text-negative);
  background-color: var(--text-secondary);
  border: 1px solid var(--text-negative);
  box-shadow: none
}


/* Pop Up Project Modal */
.detailModal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}
.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  z-index: 10;
}
.detail {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  padding: min(2vw, 3vh) 3vw;
  width: min(92%, 1300px);
  height: clamp(460px, 80vw, 80vh);
  color: var(--text-secondary);
  background-color: var(--card-background2);
  border-radius: 30px;
  box-shadow: inset 2px 4px 10px var(--detail-terinary),
  inset -2px -4px 10px var(--detail-terinary);
  overflow-y: scroll;
}
@media (max-height: 600px){
  .detail {
    height: 90vh;
    aspect-ratio: 3/2;
  }
}

.detailLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
@media only screen and (min-width: 1350px) {
  .detailLeft {
    padding-left: 1.3vw;
  }
}

.detailImage {
  margin-top: 2%;
  width: min(86%, 630px);
  height: min(50%, 510px);
  aspect-ratio: 3/2;
  border-radius: 20px;
}
.detailImage:hover {
  transform: scale(1.05) translate(10px, 10px);
  z-index: 50;
}
@media (max-height: 600px) {
  .detailImage {
    height: 50%;
    max-Width: 60%;
    transform: translateX(20%);
    border-radius: 20px;
  }
}

.detailLeft > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 80%;
  transform: translateX(min(10%, 20px));
  overflow: visible;
}
.detailLeft > div > a:first-of-type {
  margin-right: calc(4vw * 2);
}

.detailLeft > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px min(3vw, 30px);
  margin: 0 0.5rem;
  text-align: center;
  max-width: 30%;
  aspect-ratio: 30/2;
  font-size: var(--text5);
  color: var(--text-primary);
  background-color: var(--card-background);
  border-radius: 20px;
  box-shadow: 2px 2px 2px .8px var(--text-primary);
}
.detailLeft > div a:hover {
  color: var(--background);
  background-color: var(--text-secondary);
  box-shadow: var(--shadow-hover);
  transform: translate(2px, 2px) scale(1.02);
}
.detailIcons {
  margin: 0;
  padding: 0;
}

.detailRight {
  width: 35%;
}

.detailRight > h2 {
  position: relative;
  margin: min(20%, 4vh) 0 min(1.6vw, 50px);
  width: 120%;
  height: 10%;
  text-align: left;
  color: var(--text-secondary);
  font-size: var(--text2);
  transform: translateX(-10%);
}

.detailRight > p {
  flex: 3;
  height: 45%;
  color: var(--text-primary);
  font-size: var(--text4);
  line-height: clamp(16px, 3vw, 50px);
  text-indent: 3vw;
  overflow: scroll;
  transform: translateX(-2vw) scaleX(1.2);
}

.detailRight > h3 {
  height: 2%;
  font-size: var(--text4);
  line-height: clamp(14px, 2.4vw, 30px);
  transform: translateX(-2vw) scaleX(1.2);
}


.techs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 120%;
  height: 25%;
  padding-bottom: min(2vw, 3vh);
  transform: translateX(-20%);
  background: transparent;
  overflow: visible;
  list-style-type: none;
}

.detailTech {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5vw 0.8vw;
  height: 40px;
  padding: 0 min(2vw, 10px);
  overflow-y: scroll;
  font-size: var(--text6);
  color: var(--text-primary);
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.detailTech:hover {
  color: var(--text-secondary);
  transform: scale(1.1);
  box-shadow: var(--shadow-hover);
}

button.detailClose {
  position: absolute;
  top: 2%;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: clamp(25px, 5vw, 60px);
  height: clamp(25px, 5vw, 60px);
  font-size: clamp(20px, 3vw, 36px);
  color: var(--text-primary);
  background-color: var(--background);
  border: 1.5px solid var(--text-primary);
  border-radius: 50%;
}

.detailClose:hover {
  color: var(--text-secondary);
  background-color: var(--card-background);
  box-shadow: 0 0 .5vw .3vw var(--text-negative), 0 0 1vw .3vw black, 0 0 3vw .5vw black;
}
