/** @format */

.topRow {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
}

.homeAboutDescription {
  color: var(--text-primary);
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.homeAboutTitle {
  font-size: clamp( 18px, 4vw, 64px);
  position: relative;
  left: 6vw;
  width: 120%;
}

.homeAboutBody {
  padding: 4vw 3vw;
  font-size: clamp(14px,2.5vw, 38px);
  text-align: left;
}

.myAvtar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 16rem;
}

.myAvatarImage {
  height: 20vw;
  width: 15vw;
  max-width: 400px;
}

.homeAboutSocial {
  text-align: center;
  padding-top: 6vw;
  color: var(--text-primary);
}

.homeAboutSocial p {
  font-size: clamp(18px, 3vw, 60px);
}

.homeAboutSocialLinks {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  position: relative;
  padding-inline-start: 0;
}

.socialIcons {
  display: inline-block;
}

.homeSocialIcons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw 2vw 0;
  width: clamp(60px, 10vw, 160px);
  height: clamp(60px, 10vw, 160px);
  font-size: clamp(20px, 4vw, 60px);
  line-height: 2em;
  color: var(--detail-terinary);
  background: var(--detail-primary);
  border-radius: 50%;
  transition: 0.5s;
}

.homeSocialIcons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--detail-secondary);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.homeSocialIcons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--background2);
}

.homeSocialIcons:hover {
  color: var(--detail-secondary);
  background-color: var(--background2);
  box-shadow: 0 0 8px var(--detail-secondary);
}

@media only screen and (max-width: 900px) {
  .homeAboutDescription {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .homeAboutBody {
    padding: 4vw 0;
  }
  .homeAboutSocial p {
    margin-top: -1rem;
  }
  .homeAboutSocialLinks {
    padding: 8vw 3vw 10vw;
  }
  .myAvtar {
    top: 5rem;
  }
}
