/** @format */

.homeIntro {
  margin: auto;
  width: min(100%, 1400px);
  text-align: center;
  color: var(--text-primary);
  background-color: transparent;
  filter: hue-rotate(0deg);
}

.homeHeader {
  margin-bottom: clamp(50px, 8vw, 100px);
  font-size: clamp(26px, 4.5vw, 60px);
  font-weight: 900;
  text-shadow: .5px .5px 2px var(--text-negative), 0 0 5px var(--text-primary), 0 0 15px var(--text-detail);
}
.wave {
  display: inline-block;
  margin-left: 2vw;
  animation-name: wave-animation;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-14deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-4deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.typeText {
  margin-bottom: min(2vw, 30px);
  text-align: center;
  font-size: clamp(12px, 2.8vw, 42px);
  font-weight: 700;
}

.typeText > div{
  display: inline-block;
  margin : min(5vw, 60px) 0;
  letter-spacing: 2px;
  text-shadow: .5px .5px 1px var(--text-primary), 0 0 3px var(--text-secondary), 0 0 10px var(--text-detail);
}

.homeDeveloperLogo {
  position: relative;
  margin: 0 auto;
  height: 50vw;
  width: auto;
  max-height: 650px;
  filter: var(--hue-rotate-home);
}