.homeSection {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(../../public/assets/home-bg.jpg);
  filter:hue-rotate(230deg);
  background-position: top center;
  background-repeat: no-repeat;
  padding: 2rem 0;
}


.homeContent {
  padding: 9rem 0 2rem !important;
  color: #fcfdfc;
  text-align: left;
}

.homeHeader {
  padding-top: 80px !important;
}

.heading {
  font-size: 2.4em;
  text-align: center;
}

.headingName {
  font-size: 2.5em;
  text-align: center;
}

.mainName {
  color: #cd5ff8;
}

.wave {
  margin-left: 1rem;
  animation-name: wave-animation;
  animation-duration: 1.8s;
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%;
  display: inline-block;
}

.typeText {
  text-align: left;
  font-size: 2rem;
  color: #cd5ff8;
  font-weight: 700;
  margin: 2.5rem;
  text-align: center;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}