/** @format */

.topRow {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 2rem;
}

.homeAboutDescription {
  color: var(--text-primary);
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.homeAboutTitle {
  font-size: 3.4vw;
  position: relative;
  left: 10vw;
}

.homeAboutBody {
  padding: 4vw 4vw;
  font-size: 2vw;
  text-align: left;
}

.myAvtar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: 16rem;
}

.myAvatarImage {
  height: 20vw;
  width: 15vw;
  max-width: 400px;
}

.homeAboutSocial {
  text-align: center;
  padding-top: 6vw;
  color: var(--text-primary);
}

.homeAboutSocial p {
  font-size: 3vw;
}

.homeAboutSocialLinks {
  display: flex;
  justify-content: center;
  padding: 8vw 0 10rem;
  position: relative;
  padding-inline-start: 0;
}

.socialIcons {
  display: inline-block;
  padding-right: 5vw;
  padding-left: 5vw;
}

.homeSocialIcons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6vw 0 0;
  width: 10vw;
  max-width: 180px;
  height: 10vw;
  max-height: 180px;
  font-size: 4vw;
  line-height: 2em;
  color: var(--detail-terinary);
  background: var(--detail-primary);
  border-radius: 50%;
  transition: 0.5s;
}

.homeSocialIcons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--detail-secondary);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.homeSocialIcons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--background2);
}

.homeSocialIcons:hover {
  color: var(--detail-secondary);
  background-color: var(--background2);
  box-shadow: 0 0 8px var(--detail-secondary);
}

@media only screen and (max-width: 900px) {
  .homeAboutDescription {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .homeAboutBody {
    font-size: 2.8vw;
  }
  .homeAboutSocial p {
    font-size: 4.5vw;
    margin-top: -1rem;
  }
  .myAvtar {
    top: 5rem;
  }
}
