/** @format */

.homeIntro {
  margin: auto;
  width: min(100%, 1400px);
  padding: 2rem 0 0;
  z-index: -1;
  color: white;
  text-align: center;
  background-image: var(--image-gradient), url(/assets/home-bg.jpg);
  filter: var(--hue-rotate-home) opacity(0.9);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homeHeader {
  padding-top: 2vw;
}

.homeHeader > h1 {
  font-size: clamp(24px, 3vw, 52px);
  margin-bottom: 8vw;
}

.wave {
  margin-left: 2vw;
  animation-name: wave-animation;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-14deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  60% {
    transform: rotate(-4deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.developerName {
  font-size: clamp( 18px, 2.6vw, 46px);
  margin-bottom: 10vw;
}

.nameDetail,
.typeText {
  color: var(--image-match);
}

.typeText {
  font-size: clamp(12px, 2.4vw, 42px);
  font-weight: 800;
  margin: 2.5rem 0;
  text-align: center;
}

.homeIntroImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeDeveloperLogo {
  position: relative;
  margin: 0 auto;
  height: 50vw;
  width: auto;
  max-height: 650px;
}
@media only screen and (max-width: 900px) {
  .homeIntro{
    margin-top: 40px;
  }
}
