/** @format */

.body {
  display: flex;
  color: var(--text-primary);
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 clamp(40px, 5vw, 80px);
  padding: 0 10vw;
}

.techIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 19%;
  min-width: 70px;
  max-width: 300px;
  font-size: 7vw;
  margin: 0 2vw 2vw;
  padding: 0.4em 0.2em 0.2em;
  border: 1.7px solid var(--detail-terinary);
  border-radius: 10px;
  box-shadow: 0px 2px 3px 3px var(--detail-primary);
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.techIcons:hover {
  transform: scale(1.35);
  border: 2.2px solid var(--detail-terinary);
  box-shadow: 0px 4px 3px 2px var(--detail-secondary);
  background-color: var(--background);
  z-index: 2000;
}

.techIcons span {
  text-align: center;
  margin-top: 0.6rem;
  font-size: clamp(10px, 2vw, 36px);
}

.techIcons meter {
  margin-top: 0.4em;
  font-size: clamp(18px, 0.4em, 46px);
  width: 3em;
  height: clamp(24px, 1.24em, 56px);
}
.techIcons meter::-webkit-meter-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--nav-shadow)
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text font-size="100" y=".8em" opacity=".3" z-index="2000">★</text></svg>')
    0 / auto 100%;
}
.techIcons meter::-webkit-meter-optimum-value,
.techIcons meter::-webkit-meter-suboptimum-value,
.techIcons meter::-webkit-meter-even-less-good-value {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text font-size="100" y=".8em" opacity="1" z-index="2000">★</text></svg>')
    0 / auto 100%;
}

.techIcons meter::-moz-meter-optimum::-moz-meter-bar,
.techIcons meter::-moz-meter-sub-optimum::-moz-meter-bar,
.techIcons meter::-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text color="greenyellow" font-size="100" y=".8em" opacity="1" z-index="2000">★</text></svg>')
    0 / auto 100%;
}

.projectHeading {
  color: var(--text-primary);
  font-size: clamp(22px, 4vw, 60px);
  font-weight: 800;
  padding-top: 10px;
  text-align: center;
  margin: 0 0 1em;
}

.body ~ h5 {
  text-decoration: underline;
  font-size: clamp(12px, 1.8vw, 42px);
  font-weight: 800;
  color: var(--detail-terinary);
  text-align: center;
  margin: 0 0 0.8em;
}

.icon {
  filter: grayscale();
  width: auto;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .techIcons {
    box-shadow: 0px 1px 3px 2px var(--detail-primary);
  }
  .techIcons:hover {
    transform: scale(1.15);
    border: 1.8px solid var(--detail-terinary);
    box-shadow: 0px 2px 2px 1px var(--detail-secondary);
  }
}

@media only screen and (min-width: 1500px) {
  .techIcons {
    margin: 2vw;
  }
}
