/** @format */

.certTitle {
  position: relative;
  margin: 20vh 0 8vw;
  text-align: center;
  font-size: clamp(26px, 4.5vw, 60px);
  color: var(--text-secondary);
  text-shadow: 0 0 2rem var(--detail-secondary);
}

.certSubTitle {
  position: relative;
  text-align: center;
  font-size: clamp(18px, 3vw, 42px);
  color: var(--text-primary);
}

.certCardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 8vw 2vw;
  width: 100vw;
  height: auto;
  overflow: scroll;
  transform: translateX(-5vw);
}
