/** @format */

.certificationsFilter {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10vh 0;
  width: 80vw;
  height: auto;
  align-items: center;
  justify-content: space-around;
}

.certificationsFilter > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
}

.certificationsFilter > div > h4 {
  margin-bottom: 10px;
  text-align: center;
  font-size: clamp(22px, 2.2vw, 40px);
  font-weight: 900;
  color: var(--text-primary);
}

.certificationsFilter > div > select {
  height: 50px;
  padding-left: 10px;
  width: min(30vw, 460px);
  border-radius: 12px;
  font-size: clamp(20px, 1.8vw, 34px);
  font-weight: 600;
  color: var(--text-primary);
  border-color: var(--text-primary);
  background-color: var(--layout-bg);
}

.certificationsFilter > div > select:hover{
  letter-spacing: 2px;
  backdrop-filter: blur(2px);
  border: 2px solid var(--text-primary);
  box-shadow: 2px 2px 8px rgba(0,0,0);
}
