/** @format */

.cardContainer {
  position: relative;
  width: clamp(240px, 50vw, 800px);
  height: clamp(260px, 40vw, 600px);
  border-radius: 30px;
  background-color: var(--card-background2);
  box-shadow: inset 2px -2px 8px 1px var(--text-secondary),
    inset -2px -2px 10px var(--text-secondary), var(--shadow);
}
.cardContainer:hover {
  box-shadow: inset 2px -2px 8px 1px var(--text-secondary),
  inset -2px -2px 10px var(--text-secondary), var(--shadow-hover);
  z-index: 2;
}

.cardHead {
  height: auto;
  padding: 1.5vw 1.5vw 2px;
  color: var(--text-secondary);
  background-color: var(--card-background);
  border-radius: 28px 28px 0 0;
  box-shadow: inset -2px 1px 4px var(--text-secondary),
    inset 2px 1px 8px var(--text-secondary);
}
.cardHead > * {
  margin: 0;
  padding: 0;
}

.cardHead > h3 {
  margin: 0.5vw 0 1vw;
  text-align: center;
  font-size: clamp(20px, 2.8vw, 40px);
  text-shadow: .5px .5px 2px var(--text-primary);
}

.cardHead > h3 + p {
  text-align: center;
  font-size: clamp(10px, 1.1vw, 28px);
  letter-spacing: .5vw;
}

.cardHead > h3 + p + p {
  position: relative;
  left: 1.4vw;
  margin: 3.4vw 0 1.4vw;
  font-size: clamp(12px, 1.8vw, 32px);
  letter-spacing: .1vw;
}

.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 55%;
  margin: 0 auto 3.5vw;
  padding: 0 0 20px 1vw;
  color: var(--text-primary);
  background-color: var(--card-background3);
  border-radius: 0 0 20px 20px;
  box-shadow: inset 0 -2px 8px 3px var(--card-background2);
}

.cardBody > ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: min(1vw, 6px) 2vw 0;
}

.cardBody > ul > li {
  padding: 2vw 0 0;
  text-indent: 10px;
  list-style: none;
  font-size: var(--text5);
  line-height: max(2.4vw, 12px);
}

.siteLink {
  position: absolute;
  left: 60%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(14vw, 60px);
  height: max(2.7vw, 20px);
  /* margin: 20px 0; */
  font-size: clamp(10px, 1.2vw, 24px);
  color: var(--text-secondary);
  background-color: var(--card-background);
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  box-shadow: 0 0 .8vw .1vw var(--text-secondary);
}
.siteLink:hover {
  color: var(--text-negative);
  background-color: var(--text-secondary);
  border: 1px solid var(--text-negative);
  box-shadow: none;
}
