/** @format */

/* About Introduction */
.aboutOpener {
  position: relative;
  margin: 0 auto;
  width: min(1200px, 80vw);
  color: var(--text-primary);
  backdrop-filter: var(--text-bg-blur);
}

.aboutOpener > h1 {
  margin-bottom: 60px;
  text-align: center;
  font-size: var(--text1);
}

.aboutOpener > p {
  font-size: var(--text4);
}

.aboutOpener > ul {
  list-style: none;
}

.aboutOpener li {
  margin-bottom: 10px;
  text-align: left;
  font-size: var(--text5);
  color: var(--text-secondary);
}

/* About Details */
.aboutDetail {
  padding: 0 5%;
  color: var(--text-primary);
  backdrop-filter: var(--text-bg-blur);
}
.aboutDetail > h2 {
  font-size: var(--text1);
  text-align: center;
}

.aboutDetail > p {
  position: relative;
  width: min(1200px, 80vw);
  font-size: var(--text4);
  font-weight: 600;
  text-indent: 3rem;
  line-height: max(22px, 4vw);
}
