/** @format */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  box-sizing: border-box;
}

html {
  --image-match: rgb(206, 82, 255);

  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 3, 42, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(9, 17, 11, 0.176),
    rgba(1, 11, 3, 0.318)
  );

  --imp-text-color: #0be216;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serifserif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--background-image);
}

body[data-theme="dark"] {
  /* App Global */
  --text-primary: rgb(206, 255, 208);
  --text-secondary: rgb(0, 255, 13);

  --background-image: linear-gradient(
    to left,
    rgb(20, 41, 34),
    rgb(18, 54, 42)
  );
  --background: rgb(12, 43, 33);
  --background2: rgb(12, 27, 22);
  --background3: rgb(24, 60, 24);

  --detail-primary: rgb(36, 94, 36);
  --detail-secondary: rgb(6, 255, 19);
  --detail-terinary: rgba(14, 215, 165, 0.924);

  --card-background: rgb(60, 60, 60);
  --card-background2: rgb(25, 25, 25);
  --card-background3: rgb(179, 255, 158);

  --button-bg1: rgb(17, 114, 0);
  --button-bg2: rgb(24, 158, 0);

  /* Navbar */
  --sticky-bg: rgba(1, 56, 4, 0.462);
  --nav-bg: rgb(1, 56, 4);
  --nav-shadow: rgba(0, 156, 13, 0.874);
  --nav-color: rgb(111, 255, 118);
  --nav-hover: rgba(2, 252, 48, 0.1);
  --nav-toggle: #c75fff;

  /* Footer */
  --footer-background: rgba(1, 56, 4);

  /* Home Section */
  --hue-rotate-home: hue-rotate(230deg);

  /* About Scetion */
  --hue-rotate-about: hue-rotate(260deg);
}

body[data-theme="light"] {
  /* App Global */
  --text-primary: rgb(78, 80, 78);
  --text-secondary: rgb(1, 66, 36);
  --background-image: linear-gradient(
    to left,
    rgb(119, 255, 196),
    rgb(133, 255, 214)
  );
  --background: rgb(26, 171, 98);
  --background2: rgb(18, 237, 164);
  --background3: rgb(21, 203, 244);

  --detail-primary: rgb(1, 153, 135);
  --detail-secondary: rgb(0, 69, 3);
  --detail-terinary: rgb(0, 81, 151);

  --card-background: rgb(61, 252, 242);
  --card-background2: rgb(29, 159, 252);
  --card-background3: rgb(24, 73, 121);

  --button-bg1: rgb(1, 248, 244);
  --button-bg2: rgb(44, 74, 74);

  /* Navbar */
  --sticky-bg: rgba(2, 255, 242, 0.588);
  --nav-bg: rgb(0, 162, 135);
  --nav-shadow: rgb(6, 135, 205);
  --nav-color: rgb(1, 49, 36);
  --nav-hover: rgba(2, 84, 84, 0.15);
  --nav-toggle: rgb(108, 2, 161);

  /* Footer */
  --footer-background: rgba(8, 235, 262);

  /* Home Section */
  --hue-rotate-home: hue-rotate(260deg);

  /* About Scetion */
  --hue-rotate-about: hue-rotate(270deg);
}

a {
  color: inherit;
  text-decoration: none;
}

.detail,
.blockquote-footer {
  color: var(--text-secondary);
}

.github-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.github-btn-inner {
  display: flex;
  color: rgb(0, 33, 26);
  flex-direction: column;
  background-color: var(--detail-primary);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  vertical-align: middle;
  text-align: center;
}

.github-btn-inner:hover {
  transform: translateY(-2px);
  background-color: var(--detail-secondary);
  border-color: var(--detail-terinary);
  box-shadow: 3px 3px 3px var(--detail-terinary);
}
.github-btn-inner::after {
  display: none !important;
}
