@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  box-sizing: border-box;
}

html {
  --image-match: rgb(206, 82, 255);

  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 3, 42, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(9, 17, 11, 0.176),
    rgba(1, 11, 3, 0.318)
  );

  --imp-text-color: #0be216;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serifserif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--background-image);
}

body[data-theme='dark'] {
    /* Navbar */
    --sticky-bg: rgba(1, 56, 4, 0.462);
    --nav-bg: rgb(1, 56, 4);
    --nav-color: rgb(111, 255, 118);
    --nav-shadow: rgba(0, 156, 13, 0.874);
    --nav-toggle: #be50f4;
  /* Main Colors  */
  --background-image: linear-gradient(to left, rgb(20, 41, 34), rgb(18, 54, 42));
  --background: rgb(12, 43, 33);
  --background2: rgb(12, 27, 22);
  --background3: rgb(12, 27, 22);

  --card-background: rgb(60, 60, 60);
  --card-background2: rgb(60, 60, 60);
  --card-background3: rgb(60, 60, 60);

  --text-primary: rgb(206, 255, 208);
  --text-secondary: rgb(0, 255, 13);
  --text-ternary: rgb(52, 250, 167);

  --detail-primary: rgba(14, 215, 165, 0.924);
  --detail-secondary: rgb(6, 255, 19);
  --detail-terinary: rgb(36, 94, 36);

  /* Home Section */
  --hue-rotate-home: hue-rotate(230deg);
  /* About Scetion */
  --hue-rotate-about: hue-rotate(260deg);

}

body[data-theme='light'] {
  /* Navbar */
  --sticky-bg: rgba(2, 255, 242, 0.588);
  --nav-bg: rgb(0, 162, 135);
  --nav-color: rgb(0, 91, 65);
  --nav-shadow: rgba(0, 141, 115, 0.874);
  --nav-toggle: rgb(140, 11, 205);
    /* Main Colors  */
  --background-image: linear-gradient(to left, rgb(119, 255, 196), rgb(133, 255, 214));
  --background: rgb(26, 171, 98);
  --background2: rgb(23, 242, 169);
  --background3: rgb(3, 187, 141);

  --card-background: rgb(61, 252, 131);
  --card-background2: rgb(29, 159, 252);
  --card-background3: rgb(35, 235, 188);

  --text-primary: rgb(46, 53, 46);
  --text-secondary: rgb(0, 35, 1);
  --text-ternary: rgb(0, 110, 132);

  --detail-primary: rgb(10, 97, 75);
  --detail-secondary: rgb(0, 69, 3);
  --detail-terinary: rgb(0, 111, 98);
  
  /* Home Section */
  --hue-rotate-home: hue-rotate(260deg);
  /* About Scetion */
  --hue-rotate-about: hue-rotate(260deg);
}

a {
  color: inherit;
  text-decoration: none;
}

.detail, .blockquote-footer {
  color: var(--text-secondary);
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.github-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.github-btn-inner {
  display: flex;
  flex-direction: column;
  background-color: var(--detail-terinary);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  vertical-align: middle;
  text-align: center;
}

.github-btn-inner:hover {
  transform: translateY(-2px);
  background-color: var(--detail-secondary);
  border-color: var(--detail-secondary);
  box-shadow: 3px 3px 3px var(--detail-primary);
}
.github-btn-inner::after {
  display: none !important;
}

