/** @format */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
* {
  box-sizing: border-box;
}

html {
    /* Text Sizes */
    --text1: clamp(26px, 4.5vw, 60px);
    --text2: clamp(20px, 3.4vw, 48px);
    --text3: clamp(16px, 2.8vw, 42px);
    --text4: clamp(14px, 2.2vw, 34px);
    --text5: clamp(12px, 1.6vw, 30px);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serifserif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
}

body[data-theme="dark"] {
  /* Text Colors */
  --text-primary: rgb(230, 255, 243);
  --text-secondary: rgb(164, 255, 182);
  --text-detail: rgb(0, 255, 13);
  --text-negative: rgb(0, 17, 1);

  /* Background/Card Colors */
  --background: rgb(12, 43, 33);
  --card-background: rgb(85, 84, 84);
  --card-background2: rgb(18, 15, 15);

  --detail: rgba(14, 215, 165);
  --shadow: min(6px, 1.8vw) min(6px, 1.8vw) min(15px, 3vw) min(2px, .5vw) black;
  --shadow-hover: min(7px, 2.2vw) min(7px, 2.2vw) min(20px, 4vw) min(2.4px, .7vw) black;

  /* Layout Colors */
  --layout-bg: rgba(0, 142, 8, 0.462);
  --layout-shadow: rgba(0, 156, 13, 0.874);
  /* Navbar */
  --nav-bg: rgba(195, 255, 203, 0.25);
  --nav-detail: rgb(111, 255, 118);
  
  /* Home Section */
  --hue-rotate-home: hue-rotate(205deg);
}

body[data-theme="light"] {
  --text-primary: rgb(20, 20, 21);
  --text-secondary: rgb(33, 51, 132);
  --text-detail: rgb(3, 13, 132);
  --text-negative: rgb(2, 201, 246);

  /* Background/Card Colors */
  --background: rgb(2, 198, 201);
  --card-background: rgb(61, 252, 242);
  --card-background2: rgb(29, 159, 252);

  --detail: rgb(0, 81, 151);
  --shadow: min(2px, 1.2vw) min(2px, 1.2vw) min(6px, 2vw) min(1px, .2vw) black;
  --shadow-hover: min(6px, 1.8vw) min(6px, 1.8vw) min(15px, 3vw) min(2px, .5vw) black;

  /* Layout Colors */
  --layout-bg: rgba(0, 166, 255, 0.718);
  --layout-shadow: rgb(0, 72, 111);
  /* Navbar */
  --nav-bg: rgba(41, 104, 252, 0.343);
  --nav-detail: rgb(0, 88, 155);

  /* Home Section */
  --hue-rotate-home: hue-rotate(260deg);
}

a {
  color: inherit;
  text-decoration: none;
}

.detail{
  color: var(--text-secondary);
}

span.detail_plus {
  font-style: italic;
  font-weight: 900;
  color: var(--text-secondary);
}