.resumeSection {
    padding: 110px 0 30px;
}

.resume {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.download{
    justify-content: center;
    position: relative;
}

.downloadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 5vw;
    text-align: center;
    margin: 10vw auto;
    background-color: rgba(1, 17, 1, 0.333);
    color: rgb(3, 181, 9);
    font-weight: 900;
    font-size: 1.8vw;
    border: 1px solid rgb(3, 181, 9);
    box-shadow: 4px 4px 1px rgb(3, 181, 9);
    border-radius: 15px;
}

.downloadButton:hover{
    background-color: rgb(3, 181, 9);
    color: black;
    font-weight: 800;
    box-shadow: 8px 8px 5px black;
}

@media only screen and(max-width: 1400px){
    .resume {
        margin: 0 25vw !important;
    }
}