.blockquote{
    font-size: 2.4vw;
}

.quote{
    font-size: 4.8vw;
    margin: 8rem 0 2rem 15%;
}

.quote + footer{
    margin-left: 60%;
    font-size: 3.4vw;
}

.quoteCardView {
    border: none;
    color: white;
    background-color: transparent;
}

.aboutActivity {
    list-style: none;
    text-align: left;
    padding-left: 1px;
    color: rgb(52, 250, 167);
}