/** @format */

.aboutMain {
  position: relative;
  margin: 0 auto;
  width: min(1200px, 80vw);
  padding: 8rem 0 4rem;
  color: var(--text-primary);
}
.aboutDevLogo {
  height: 40vw;
  max-height: 45rem;
  width: 60vw;
  max-width: 70rem;
  display: block;
  margin: 5rem auto;
  filter: var(--hue-rotate-about);
}

@media only screen and (max-width: 900px) {
  .aboutDevLogo {
    margin: 4rem auto 0.5rem;
  }
}
