/** @format */

.aboutTitle {
  color: var(--text-primary);
  font-size: clamp( 24px, 5vw, 70px);
  text-align: center;
}

.aboutDev {
  position: relative;
  margin: 2rem auto;
  width: min(1200px, 80vw);
  font-size: clamp(15px, 2vw, 32px);
  text-indent: 3rem;
  line-height: max(22px, 4vw);
  color: var(--text-primary);
}

.aboutDev:last-child {
  margin-bottom: 15rem;
}
