/** @format */

/* About Introduction */
.aboutOpener {
  position: relative;
  margin: 0 auto 100px;
  padding: 8rem 0 4rem;
  width: min(1200px, 80vw);
  color: var(--text-primary);
  backdrop-filter: var(--text-bg-blur);
}

.aboutOpener > h1 {
  font-size: var(--text1);
  text-align: center;
  margin-bottom: 60px;
}

.aboutOpener > p {
  font-size: var(--text4);
}

.aboutOpener li {
  list-style: none;
  text-align: left;
  margin-bottom: 10px;
  color: var(--text-secondary);
}


/* About Details */
.aboutDetail {
  padding: 5%;
  color: var(--text-primary);
  backdrop-filter: var(--text-bg-blur);
}
.aboutDetail > h1 {
  font-size: clamp( 24px, 5vw, 70px);
  text-align: center;
}

.aboutDetail > p {
  position: relative;
  margin: 2rem auto;
  width: min(1200px, 80vw);
  font-size: var(--text4);
  text-indent: 3rem;
  line-height: max(22px, 4vw);
}

.aboutDetail:last-child {
  margin-bottom: 15rem;
}
