/** @format */

/* About Introduction */
.aboutOpener {
  position: relative;
  margin: 0 auto 100px;
  padding: 8rem 0 4rem;
  width: min(1200px, 80vw);
  color: var(--text-primary);
  backdrop-filter: var(--text-bg-blur);
}

.aboutOpener > h1 {
  margin-bottom: 60px;
  text-align: center;
  font-size: var(--text1);
}

.aboutOpener > p {
  font-size: var(--text4);
}

.aboutOpener > ul {
  list-style: none;
}

.aboutOpener li {
  margin-bottom: 10px;
  text-align: left;
  font-size: var(--text5);
  color: var(--text-secondary);
}

/* About Details */
.aboutDetail {
  padding: 5%;
  color: var(--text-primary);
  backdrop-filter: var(--text-bg-blur);
}
.aboutDetail > h1 {
  font-size: clamp(24px, 5vw, 70px);
  text-align: center;
}

.portraitTilt {
  width: clamp(200px, 20vw, 400px);
  height: auto;
  margin: 20px auto 10px;
}
.developerPortrait {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.aboutDetail > p {
  position: relative;
  margin: 2rem auto;
  width: min(1200px, 80vw);
  font-size: var(--text4);
  font-weight: 600;
  text-indent: 3rem;
  line-height: max(22px, 4vw);
}

.aboutDetail:last-child {
  margin-bottom: 15rem;
}
