/** @format */

/* Page Container */
.resumeContainer {
  padding: 20vh 0 15vh;
}

/* Mobile display warnings modal */
.mobileModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.mobileModal > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60%;
  padding: 5%;
  text-align: center;
  font-size: var(--text3);
  letter-spacing: 0.6vw;
  color: var(--text-primary);
  background-color: var(--card-background2);
  border-radius: 4vw;
}
.mobileModal > p > button {
  position: absolute;
  top: 2%;
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  aspect-ratio: 1/1;
  background-color: var(--card-background);
  border: 1px solid var(--text-primary);
  border-radius: 50%;
}

/* Resume Control section */
.resume {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.resume > div {
  display: flex;
  width: 50vw;
  margin: 20px auto;
  justify-content: space-between;
}

.resumeControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  font-size: var(--text3);
  color: var(--text-secondary);
  backdrop-filter: var(--text-bg-blur);
}

.leftArrow,
.rightArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  width: clamp(30px, 5vw, 80px);
  aspect-ratio: 1;
  font-size: var(--text3);
  color: var(--text-negative);
  background-color: var(--text-secondary);
  border-radius: 30%;
  box-shadow: 0.12rem 0.12rem 0.2rem var(--detail);
  z-index: 10;
}

.leftArrow:hover,
.rightArrow:hover {
  color: var(--text-secondary);
  background-color: var(--text-negative);
  box-shadow: 0px 0px 8px 3px var(--text-primary);
}

.disabled,
.disabled:hover {
  color: var(--text-secondary);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: opacity(0.5);
  cursor: not-allowed;
  border: none;
  box-shadow: none;
}

.resume > img {
  margin: 10px auto;
  width: min(1000px, 80vw);
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px black, 5px 5px 40px black;
  transform: scale(1);
  z-index: 10;
}

/* Resume Save / Download buttons */
.resumeButtonHolder {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: min(70vw, 1000px);
  height: auto;
}
.resumeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vw auto;
  width: clamp(100px, 25vw, 250px);
  height: clamp(20px, 4.5vw, 45px);
  padding: 1vw;
  text-align: center;
  color: var(--text-secondary);
  background-color: var(--layout-bg);
  font-weight: 900;
  font-size: clamp(15px, 2vw, 42px);
  letter-spacing: 1px;
  border: 1px solid var(--text-secondary);
  box-shadow: 3px 3px 1px var(--text-secondary),
    5px 5px 15px 3px var(--layout-bg);
  border-radius: 8px;
}
.resumeButton:hover {
  color: var(--text-negative);
  background-color: var(--detail);
  box-shadow: 5px 5px 15px 3px var(--background);
  transform: translate(3px, 3px);
}
